---
import { queryDb } from '@lib/db';

import DashboardLayout from '@layouts/DashboardLayout.astro';
import Card from '@components/dashboard/Card.astro';
import NewUserForm from '@components/dashboard/NewUserForm.astro';

// Primero obtener el session_token de la cookie
const sessionToken = Astro.cookies.get('session_token')?.value;

// Luego obtener el usuario usando el token
const user = await queryDb(`
  SELECT Users.username
  FROM Users
  JOIN Sessions ON Users.id = Sessions.user_id
  WHERE Sessions.session_token = ? 
  AND Sessions.expires_at > datetime('now')
`, [sessionToken]);

const admins = await queryDb("SELECT Users.username, Users.email FROM Users");

const username = user?.rows[0]?.username || 'Guest';
---

<DashboardLayout>
<section class="py-10 px-5 text-white w-full">
    <h1>Welcome { username }</h1>
    <section class="bg-neutral-950 border border-neutral-800 my-5 h-full py-5 px-5 rounded-lg grid grid-cols-1 lg:grid-cols-2">
        <div class="py-5 flex gap-5 flex-wrap justify-center overflow-scroll">
            {
                admins.rows.map(({ username, email }) => (
                    <Card size='large' icon='admin'>
                        <small class="">{ email }</small>
                        <h1>{ username }</h1>
                    </Card>
                ))
            }
        </div>
        <div class="my-auto mx-10 lg:mx-32">
            <h1 class="text-2xl text-center my-5 ">Create new Admin</h1>
            <NewUserForm action='/api/auth/create_user'/>
        </div>
    </section>
</section>
</DashboardLayout>